<!------------------------------------------------------------------------
# Author : payletter
# Desc   : Sample 페이지
#------------------------------------------------------------------------>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h2 th:text="${text}"></h2>
    </body>
    <!-- BEGIN CORE JS -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
    <!-- END CORE JS -->
</html>